<footer>
    <div class="f-info">
        <div class="f-info-socials">

        </div>
        <div>
            wanderLust Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms"></a>
        </div>
    </div>
</footer>