<% layout("/layouts/boilerplate") %>

<h3>Create New Listing</h3>
<div class="row">
  <div class="col-8 offset-2">
    <form method="post" action="/listings">
      <div class="mb-4">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="A title"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-4">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          type="text"
          rows="3"
          cols="10"
          class="form-control"
        ></textarea>
      </div>
      <div class="mb-4">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="listing[image]"
          placeholder="Enter url/link"
          type="text"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-4 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="Enter price"
            type="number"
            class="form-control"
          />
        </div>
        <div class="mb-4 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="Enter country"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Enter location"
          type="text"
          class="form-control"
        />
      </div>
      <br />
      <button class="btn btn-dark">Add</button>
    </form>
  </div>
</div>
