<% layout("/layouts/boilerplate") %>
<br>
<h3>Create New Listing</h3>
<br /><br />
<div class="row">
  <div class="col-8 offset-2">
    <form method="post" action="/listings">
      <div class="mb-4">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          id="title"
        />
      </div>
      <div class="mb-4">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          type="text"
          rows="3"
          cols="10"
          class="form-control"
          id="description"
        ></textarea>
      </div>
      <div class="mb-4">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="listing[image]"
          placeholder="Enter url/link"
          type="text"
          class="form-control"
          
        />
      </div>
      <div class="row">
        <div class="mb-4 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="number"
            class="form-control"
          />
        </div>
        <div class="mb-4 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Dehli, Rajasthan, Oti etc."
          type="text"
          class="form-control"
        />
      </div>
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
